*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/* app global css */
/* CADASTRO DE CLIENTE */
.title-header{
  color: black;
}

.q-pa-md{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  background-color: rgb(213, 211, 211);

}
.q-drawer{

background-color: rgb(213, 211, 211);
}
.q-btn{
  background-color:green ;
  color:black;
}
.btn-container{
  display: flex;
  justify-content: center;
}
/* CADASTRO DE CLIENTE */




